lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.css
*.bat
node_modules
src/bower_components
public
*~
.idea
*.iml
pids
logs
results
/build
build-temp
/dev/build/ro

npm-debug.log
.DS_Store
/tmp
build.log
config.json
